.contactsList {
  list-style: none;
  padding-left: 0;
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  text-align: center;
}

.contactsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6),
    -23px 0 20px -23px rgba(0, 0, 0, 0.6), 23px 0 20px -23px rgba(0, 0, 0, 0.6),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  width: 450px;
  
}

.contactsItem:not(:last-child) {
  margin-bottom: 20px;
}

.contactText {
  font-weight: 700;
}

.button {
  background-color: #00bfff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  transition: 250ms;
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: #19b2e6;
}